<div class="bg"></div>
<div class="header">
  <h1>[ER]code generator | Emergency / first aid infos</h1>

  <p>
    Give your personal medical infos to generate [ER]code. This is your medical
    QRcode.
  </p>
  <p>Print it, keep it safe with you, everywhere you go.</p>
</div>

<div class="box">
  <!-- Display form where user can give data to generate QR code with medical infos -->
  <div class="displayForm">
    <form class="form" id="erCodeForm">
      <div class="form-group">
        <label for="name" class="form-label">
          <i class="fa-solid fa-user icon"></i>
          Name*</label
        >
        <input
          type="text"
          name="name"
          placeholder="Your name"
          class="form-control"
          [(ngModel)]="erCodeForm.name"
        />
      </div>
      <div class="form-group">
        <label for="bloodType" class="form-label">
          <i class="fa-solid fa-droplet icon"></i>
          Blood type*</label
        >
        <input
          type="text"
          name="bloodType"
          placeholder="Your blood type eg. '0 negative'"
          class="form-control"
          [(ngModel)]="erCodeForm.bloodType"
        />
      </div>
      <div class="form-group">
        <label for="age" class="form-label">
          <i class="fa-regular fa-calendar icon"></i>
          Age</label
        >
        <input
          type="text"
          name="age"
          placeholder="Your age"
          class="form-control"
          [(ngModel)]="erCodeForm.age"
        />
      </div>
      <div class="form-group">
        <label for="sickness" class="form-label">
          <i class="fa-solid fa-virus icon"></i>
          Illness(es):</label
        >
        <input
          type="text"
          name="age"
          placeholder="Your illness(es)"
          class="form-control"
          [(ngModel)]="erCodeForm.sickness"
        />
      </div>
      <div class="form-group">
        <label for="medicine" class="form-label">
          <i class="fa-solid fa-syringe icon"></i>
          Medicine(s):</label
        >
        <input
          type="text"
          name="medicine"
          placeholder="Your medicine(s)"
          class="form-control"
          [(ngModel)]="erCodeForm.medicine"
        />
      </div>
      <div class="form-group">
        <div class="pill-container">
          <label for="pills" class="form-label">
            <i class="fa-solid fa-pills"></i>
            Do you need xanax?
          </label>
          <input
            type="checkbox"
            name="pills"
            placeholder="Always"
            class="form-control pill-checkbox"
            checked
            [(ngModel)]="erCodeForm.pills"
          />
          <span class="always">Always.</span>
        </div>
      </div>

      <div class="button-box">
        <button
          type="submit"
          id="submit"
          class="btn btn-submit"
          (click)="generateERcode(erCodeForm)"
        >
          Generate [ER]code
        </button>
      </div>
    </form>
  </div>

  <!-- Display QR code to user after they generated -->
  <div class="displayERcode" [ngClass]="{ newBg: isClicked > 0 }">
    <h3>Your personal medical [ER]code:</h3>
    <qrcode
      [qrdata]="myAngularQrcode"
      [width]="256"
      [errorCorrectionLevel]="'M'"
      id="ERcode"
    >
    </qrcode>
  </div>
</div>
<footer>Copyright © 2023 | ArminVndg | All Rights Reserved</footer>
